@import "./variables.module.scss";

.main {
  position: absolute;

  width: 100%;
  height: 100%;

  display: grid;

  grid-template-columns: 300px 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;
}

.emailForm {
  position: relative;

  padding: 20px 0;

  height: 200px;
  width: 200px;

  background-color: $black;
  border-radius: 4px;
  text-align: center;

  label {
    position: absolute;
    left: 10%;
    color: #c0c0c0;
    font-family: Helvetica, sans-serif;
  }
  input {
    width: 80%;
  }
  #send {
    color: #fff;
    font-weight: bold;
    position: absolute;
    background-color: $color1;
    left: 10%;
    bottom: 10%;

    border-radius: 4px;
    height: 30px;
    border: none;

    box-shadow: 2px 4px 2px rgba(0, 0, 0, 1);

    transition: 300ms 20ms;
  }

  #send:hover {
    cursor: pointer;

    background-color: $color2;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
  }
}

.emailList {
  color: #c0c0c0;
}
